.navbar {
  height: auto;
}

@media (min-width: 768px) {
  .navbar {
    height: 100vh;
  }
  #musicLogo {
    width: 80px !important;
  }
}

#appleLogo {
  width: 20px;
}

#musicLogo {
  width: 60px;
}

.footer {
  font-size: x-small;
}

.radioCardTitle,
.queryCard {
  font-size: small !important;
}
